table {
    border-collapse: collapse;
    text-align: left;
}

td {
    border: 1px solid black;
    height: 30px;
    padding: 0 5px 0 5px;
    text-align: center;
}
caption {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}