body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    display: flex;
}

.colors{
    position: relative;
    bottom: 25%;
}

span{
    display: inline-block;
    width: 50px;
    height: 60px;
}

div{
    float:left;
}

.dot {
    cursor: pointer;
    height: 35px;
    width: 25px;
    margin: 1px 2px;
    background-color: #bbb;
    border-radius: 2px;
    display: inline-block;
    transition: box-shadow 0.6s ease;
}

.car{
    display: inline-block;
    width: 30px;
}